@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --first-color: rgb(0, 0, 0);
    --first-color-light: rgba(70, 70, 70, 0.737);
    --first-color-lighter: rgba(77, 76, 76, 0.47);
    --second-color: rgba(19, 224, 19, 0.806);
    --second-color-dark: rgba(24, 173, 34, 0.717);
    --third-color: rgb(44, 190, 231);
    --text-light: rgb(214, 214, 214);
    --white: rgb(255, 255, 255);
    --maxwidth: 1200px;
}

html {
    scroll-behavior: smooth;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

ul li {
    list-style-type: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section-container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section-header {
    margin-bottom: 1rem;
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    color: var(--white);
}

.section-subheader {
    max-width: 600px;
    text-align: center;
    margin: auto;
    color: var(--text-light);
}

.tap {
    padding: 1rem 2rem;
    border: none;
    outline: none;
    color: var(--white);
    background-color: var(--second-color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
    font-size: large;
}

.tap:hover {
    background-color: var(--second-color-dark);
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

.bg-blur {
    position: absolute;
    box-shadow: 0 0 1000px 80px var(--third-color);
    z-index: -1;
}

body {
    font-family: "Exo 2", sans-serif;
    background-color: var(--first-color);
    font-size: larger;
}

nav {
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    gap: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    max-width: 150px;
}
  
.nav-links {
    list-style: center;
    gap: 3rem;
    align-items: center;
    display: contents;
    font-weight: bolder;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: var(--white);
}

.link a::after {
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--second-color);
    transition: 0.3s;
}

.link a:hover::after {
    width: 80%;
}

.header-container {
    position: relative;
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    align-items: center;
}

.header-blur {
    right: 0;
    top: 5rem;
}

.header-content h3 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 800;
    color: var(--second-color);
}

.header-content h1 {
    margin-bottom: 2rem;
    font-size: 6rem;
    font-weight: 700;
    line-height: 6rem;
    color: var(--white);
}

.header-content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 4px var(--second-color);
}

h2 span {
    color: var(--second-color);
}

.hp-image {
    position: relative;
}

.hp-image::before {
    content: "♥";
    position: absolute;
    font-size: 45rem;
    font-weight: 500;
    line-height: 28rem;
    transform: translateX(-5%);
    top: 0;
    left: 27%;
    opacity: 0.8;
    z-index: -1;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px var(--second-color);
}

.hp-image img {
    max-width: 1000px;
    margin: auto;
}

.choose-header {
    display: auto;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.choose-grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.choose-pick {
    padding: 1rem;
    background-color: var(--first-color-light);
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.3s;
}

.choose-pick:hover {
    background-color: var(--first-color-lighter);
    border-color: var(--second-color);
}

.choose-pick span {
    display: inline-block;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: var(--white);
    background-color: var(--second-color-dark);
    border-radius: 5px;
}

.choose-pick h4 {
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
}

.choose-pick p {
    margin-bottom: 0.8rem;
    color: var(--text-light);
}

.choose-pick a {
    color: var(--white);
    transition: 0.3s;
}

.choose-pick a:hover {
    color: var(--second-color);
}

.community-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    background-color: var(--first-color-lighter);
}

.community-image {
    position: relative;
}

.community-image .community-img1 {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 500px;
    border-radius: 10px;
}

.community-image .community-img2 {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 300px;
    border-radius: 10px;
}

.community-content {
    padding: 2rem 0;
}

.community-content .section-header {
    text-align: left;
    max-width: 400px;
}

.community-content p {
    margin-bottom: 10rem;
    color: var(--text-light);
}

.footer-container {
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 1rem;
}

.footer-blur {
    bottom: 0;
    right: 0;
}

.footer-logo {
    max-width: 150px;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.footer-col p {
    margin-bottom: 2rem;
    text-align: center;
    color: var(--text-light);
}

.footer-socials {
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
    position: relative;
    align-items: center;
    gap: 1rem;
}

.footer-socials a {
    padding: 6px 8px;
    font-size: 1.5rem;
    color: var(--second-color);
    border: 1px solid var(--second-color);
    border-radius: 100%;
    transition: 0.3s;
}

.footer-socials a:hover {
    color: var(--white);
    background-color: var(--second-color);
}

.footer-col h4 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--second-color);
}
.footer-col > a {
    display: block;
    margin-bottom: 1rem;
    color: var(--text-light);
    transition: 0.3s;
}

.footer-col > a:hover {
    color: var(--second-color);
}

.footer-bar {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    font-size: 0.8rem;
    color: var(--white);
}

@media (width < 900px) {
    .nav-links {
        display: none;
    }

    .bg-blur {
        width: 5rem;
    }

    .header-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .header-content h1 {
        font-size: 3rem;
        align-items: center;
        justify-content: center;
    }
    
    .hp-image img{
        position: relative;
        grid-area: 1/1/2/2;
        left: -2rem;
    }

    .hp-image::before {
        top: -5rem;
        left: -2rem;
    }
    .choose-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .community-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .community-image {
        min-height: 500px;
    }

    .footer-container {
        grid-template-columns: 1fr 200px;
    }
}

@media (width < 600px) {
    .choose-header {
        flex-direction: column;
    }

    .choose-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-container {
        grid-template-columns: 1fr 150px;
    }

    .footer-bar {
        text-align: center;
    }
}